rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // regra geral: so quem ta logado pode ler e escrever
    match /{document=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    
    // mas o cardapio e os produtos sao publicos pra qualquer um ver
    match /unidades/{unidadeId} {
      allow read: if true; // qualquer um pode ver o cardapio
    }
    
    match /produtos/{produtoId} {
      allow read: if true; // produtos tbm sao publicos
    }
  }
}
